@import '~bootstrap/scss/bootstrap-grid.scss';
//Home
.flyer-container-right {
	justify-content: flex-end;
}
.flyer-container-left {
	justify-content: flex-start;
}
.flyer-container-left,
.flyer-container-right {
	display: flex;
	@media screen and (max-width: map-get($grid-breakpoints,xl)) {
		justify-content: center;
	}
}
//Cart
.cart-entry-container {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 15px;
	color: white;
	background-color: black;
}
