@import '~bootstrap/scss/bootstrap-grid.scss';

.grid {
	display: grid;
	@media screen and (max-width: map-get($grid-breakpoints,xl)) {
		grid-template-columns: 1fr;
	}
	gap: 55px;
	grid-template-columns: 1fr 1fr;
}
