.appHeaderContainer {
	height: 30px;
	z-index: 9999;
	backdrop-filter: blur(4px);
	font-size: larger;
	color: black;
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 50px;
	align-items: center;
}
.navContainer {
	overflow: hidden;
	align-self: flex-start;
	flex-grow: 1;
}
.cart-button {
	float: left;
}
