@import '../../index.scss';

.nav-link {
	background-color: transparent;
	border-bottom: 2px solid;
	color: $baseColor !important;
	border-color: $baseColor;
	&:hover {
		transition-duration: 0.5s;
		background-color: $activeColor;
	}
	&.active {
		transition-duration: 0.5s;
		background-color: $activeColor;
		border-color: red;
	}
}
.nav-item {
	> a {
		white-space: nowrap;
	}
}
.spinner-cont {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 100px;
}
.tabs-container {
	flex-flow: column wrap;
	overflow: hidden;
}
.tab-content {
	min-height: calc(100vh - 50px - 2em);
	margin-top: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.dropdown {
	max-width: 30px;
}
