@import '../../index.scss';
.text {
	font-weight: bold;
	position: relative;
	color: rgb(0, 0, 0);
	font-size: 6em;
	@media screen and (max-width: map-get($grid-breakpoints,sm)) {
		font-size: 3em;
	}
}
.text-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.background-container {
	position: absolute;
	height: 100%;
	animation: backgroundAnimation 10s linear infinite;
	background-color: white;
}
@keyframes moveAnimation {
	$left-shift: -20px;
	//Iteration 1
	from {
	}
	50% {
		left: 0px;
	}
	//iteration 2
	60% {
		left: $left-shift;
	}
	89% {
		left: $left-shift;
	}
	90% {
		left: 0px;
	}
	to {
		left: 0px;
	}
}
@keyframes backgroundAnimation {
	//Iteration 1
	from {
	}
	50% {
		left: -5px;
		width: 0px;
	}
	60% {
		left: -5px;
		width: 50px;
	}
	80% {
		left: -5px;
		width: 50px;
	}
	//iteration 2
	90% {
		right: 0px;
		width: 100%;
	}
	to {
		right: 0px;
		width: 0px;
	}
}
