@import '../../index.scss';
.spinner-cont {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100vw;
	max-height: 100vh;
	padding: 0px !important;
	margin: 0px !important;
}
.pageSuspense {
	height: 100vh !important;
}
