a:link {
	text-decoration: none;
	color: unset !important;
}

a:visited {
	text-decoration: none;
	color: unset !important;
}

a:hover {
	text-decoration: none;
	color: unset !important;
}

a:active {
	text-decoration: none;
	color: unset !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0px !important;
	margin: 0px !important;
}
